/* Feuille de style perso VM */


/* Style général */

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=auto');

body {
  font-family: "Source Sans Pro";
  font-size: 1.1rem;
}

.bd-article-container h1,
.bd-article-container h2,
.bd-article-container h3,
.bd-article-container h4,
.bd-article-container h5,
.bd-article-container h6 {
  font-family: "Source Sans Pro";
  font-weight: 600;
  color: var(--pst-color-text-base);
}

h1 {font-size: 2.5em;}
h2 {font-size: 1.7em;}
h3 {
  font-size: 1.0em;
  margin: 1.2rem 0 .5rem 0;
}

span.pre {
  background-color: #eee;
  padding: 1px 5px;
  border: 0;
  color: #000;
  font-family: Menlo, Consolas, 'DejaVu Sans Mono', monospace;
  font-size: inherit;
  line-height: 1.3077
}

/* Légendes */

figure span.caption-number, figure span.caption-text {
  font-family: "Source Sans Pro";
  font-size: 1.1rem;
}

figure span.caption-number {
  margin-right: .5em;
}

/* Hack pour faire disparaître le bouton "launch" */

.menu-dropdown.menu-dropdown-launch-buttons {
    display: none;
}

/* Hack pour faire disparaître le footer (et mettre le mien à la place) */

.component-author, .copyright {
    display: none;
}

/* Tableaux */

table p { margin-bottom: 0 }
